<h1 class="title">LET'S GO</h1> 

<form method="POST" action="/auth/signin"> 
     

    <div class="form-group"> 
        <label>Username</label> <br>
        <Input type="text" name="username" class="form-control">
    </div>

    <div>
        <label>Password</label> <br>
        <input type="password" name="password" class="form-control">
    </div> 

    <br>  

    <div> 
        <button type="submit" class="redButton">LOGIN</button>
    </div>
</form> 

<br>

    <a href="/auth/signup"><div class="backButton1">Sign Up</a></div>
