


body{ 
    min-width: 360px; 
    min-height: 640px;
    background-image: linear-gradient(rgb(20,20,20), rgb(35,35,40)); 
    background-repeat: "no-repeat";
    color: rgb(235,49,49);   
}  


.title { 
    color: rgb(235,49,49); 
    text-shadow: -0.3px 0.3px 0 rgb(223,244,255),
                  0.3px 0.3px 0 rgb(223,244,255),
                 0.3px -0.3px 0 rgb(223,244,255),
                -0.3px -0.3px 0 rgb(223,244,255);
}


.redButton { 
    background-image: linear-gradient(rgb(255, 92, 92), rgb(235,49,49)  );    
    color: rgb(255, 236, 236); 
    /* border: 0.2px solid rgb(255,236,236);  */
    border: none;
    /* box-shadow: 8px 8px 50px black; */
}  

.backButton { 
    background-image: linear-gradient(rgb(241, 125, 125), rgb(235,49,49)  );    
    color: rgb(50,50,50);
    /* border: 0.2px solid rgb(255,236,236);  */
    border: none;
    box-shadow: 8px 8px 50px black; 
}



.divButton{ 
    background-image: linear-gradient(rgb(223,244,255), rgb(189,189,189) ); 
    border: none;
    color: rgb(235,49,49); 
    text-shadow: -0.2px 0.2px 0 rgb(223,244,255),
                  0.2px 0.2px 0 rgb(223,244,255),
                 0.2px -0.2px 0 rgb(223,244,255),
                -0.2px -0.2px 0 rgb(223,244,255); 
} 

.editButton{ 
    color: rgb(50,50,50);  
    background-image: linear-gradient(rgb(223,244,255), rgb(189,189,189) ); 
    /* border: 0.3px solid rgb(255, 236, 236); */
    text-shadow: -0.2px 0.2px 0 rgb(223,244,255),
                  0.2px 0.2px 0 rgb(223,244,255),
                 0.2px -0.2px 0 rgb(223,244,255),
                -0.2px -0.2px 0 rgb(223,244,255); 

}  

.editButton1{ 
    color: rgb(50,50,50);  
}

.deleteButton{  
    color: rgb(50,50,50);  
    background-image: linear-gradient(rgb(223,244,255), rgb(189,189,189) ); 
    /* border: 0.3px solid rgb(255, 236, 236); */
    text-shadow: -0.2px 0.2px 0 rgb(223,244,255),
                  0.2px 0.2px 0 rgb(223,244,255),
                 0.2px -0.2px 0 rgb(223,244,255),
                -0.2px -0.2px 0 rgb(223,244,255); 
    border:none; 
}   

.deleteButton1{ 
    color: rgb(50,50,50);  
}

.divRow{ 
    background-image: linear-gradient(rgb(223,244,255), rgb(189,189,189) ); 
    /* border: 0.2px solid rgb(255, 236, 236);  */
    border-bottom: rgb(189,189,189);
    color: rgb(235,49,49); 
    text-shadow: -0.2px 0.2px 0 rgb(223,244,255),
                  0.2px 0.2px 0 rgb(223,244,255),
                 0.2px -0.2px 0 rgb(223,244,255),
                -0.2px -0.2px 0 rgb(223,244,255); 
 
} 

.homepageButton{
    color: rgb(235,49,49); 
    text-shadow: -0.2px 0.2px 0 rgb(223,244,255),
                  0.2px 0.2px 0 rgb(223,244,255),
                 0.2px -0.2px 0 rgb(223,244,255),
                -0.2px -0.2px 0 rgb(223,244,255); 
    border: 2.6px solid rgb(223,244,255);  
    background-color: rgb(50,50,50);
}

.weight{ 
    border: 3px solid rgb(223,244,255);  
    background-color: rgb(50,50,50);
    border-radius: 50%;  
    height: 75px; 
    width: 30px; 
    display: inline-flex;
    
}

.collapsable{ 
    display:none;
}
 
#comments { 
    background-color: rgb(20,20,20);
    /* border: 0.5px solid rgb(235,49,49); */
    color: rgb(235,49,49); 
    border: none;
}

#heading{ 
    color: rgb(141, 29, 29);
}


.nav{ 
    float: left;
}

.menuAlignment { 
    text-align: right;
} 

