<h1>Workout Log</h1> 

<div>
    <%= workout.forEach(function(workout) { %> 
    <div > 
        <div><%= workout.date%>  <%= workout.targetMuscleGroups1%> 
            <!--edit button and delete button-->
            </div>  
    } 
</div>             

<button type="submit">ADD NEW ENTRY</button> 
<button type="back">BACK</button> 

