<h1 class="title">ADD EXERCISE</h1> 

<form method="post" action="/day/addExercise" > 

    <div>
       <label class="form-label">Name</label> 
       <input name="name" type="text" >
    </div> 

    <div>
        <label class="form-label" > Target Muscle Groups</label> 
        <select type="text" name="targetMuscleGroups1" > 
            <option value="Legs">Legs</option>
            <option value="Chest">Chest</option>
            <option value="Shoulders">Shoulders</option>
            <option value="Back">Back</option>
            <option value="Arms">Arms</option>
            <option value="Core">Core</option>  
            <option value="Cardio">Cardio</option>
            <option value="- - -">- - -</option>
            <option value="Calves">Calves</option>
            <option value="Quads">Quads</option> 
            <option value="Hamstrings">Hamstrings</option>
            <option value="Glutes">Glutes</option>
            <option value="Obliques">Obliques</option>
            <option value="Abs">Abs</option> 
            <option value="Biceps">Biceps</option>
            <option value="Triceps">Triceps</option>
            <option value="Traps">Traps</option>
            <option value="Delts">Delts</option>  
            <option value="Lats">Lats</option> 
          </select>
    </div>

    <div>
        <label class="form-label" > Target Muscle Groups</label> 
        <select type="text" name="targetMuscleGroups2" > 
            <option value='  '>    </option>
            <option value="Legs">Legs</option>
            <option value="Chest">Chest</option>
            <option value="Shoulders">Shoulders</option>
            <option value="Back">Back</option>
            <option value="Arms">Arms</option>
            <option value="Core">Core</option>  
            <option value="Cardio">Cardio</option>
            <option value="- - -">- - -</option>
            <option value="Calves">Calves</option>
            <option value="Quads">Quads</option> 
            <option value="Hamstrings">Hamstrings</option>
            <option value="Glutes">Glutes</option>
            <option value="Obliques">Obliques</option>
            <option value="Abs">Abs</option> 
            <option value="Biceps">Biceps</option>
            <option value="Triceps">Triceps</option>
            <option value="Traps">Traps</option>
            <option value="Delts">Delts</option>  
            <option value="Lats">Lats</option> 
          </select>
    </div> 

    <div>
        <label class="form-label" > Target Muscle Groups</label> 
        <select type="text" name="targetMuscleGroups3" > 
            <option value='  '>    </option>
            <option value="Legs">Legs</option>
            <option value="Chest">Chest</option>
            <option value="Shoulders">Shoulders</option>
            <option value="Back">Back</option>
            <option value="Arms">Arms</option>
            <option value="Core">Core</option>  
            <option value="Cardio">Cardio</option>
            <option value="- - -">- - -</option>
            <option value="Calves">Calves</option>
            <option value="Quads">Quads</option> 
            <option value="Hamstrings">Hamstrings</option>
            <option value="Glutes">Glutes</option>
            <option value="Obliques">Obliques</option>
            <option value="Abs">Abs</option> 
            <option value="Biceps">Biceps</option>
            <option value="Triceps">Triceps</option>
            <option value="Traps">Traps</option>
            <option value="Delts">Delts</option>  
            <option value="Lats">Lats</option> 
          </select>
    </div> 

    

    <div>
        <label class="form-label" > Sets</label> 
        <input name="sets" type="Number"> 
    </div>

    <div>
        <label class="form-label" > Reps</label> 
        <input type="number" name="reps">  
    </div> 

    <div> 
        <label> Weight</label> 
        <input name="weight" type="number"> 
        <select type="text" name="weightUom">
            <option value="lbs">lbs</option>
            <option value="kg">kg</option>
        </select>
    </div>   

    <div>
        <label class="form-label" >Equipment Used</label> 
        <input name="equipmentUsed" type="text"> 
    </div>

    <div>
        <label class="form-label" > Comments</label> 
        <input name="comments" type="text"> 
    </div>

    <br> 

    <input type="text" value="<%=id %>" name="id">
    <button type="back" class="backButton">BACK</button> 
    <button type="submit" class="redButton">ADD TO WORKOUT</button>

</form>  