<h1 class="title">LET'S GO</h1> 

<div id="addEntry">
    <div class="weight"> </div><a href="/workout/addWorkout"><button type="submit" class="homepageButton"> ADD ENTRY</button></a> 
    <div class="weight"> </div> 
</div>

<div id="log">
    <div class="weight"> </div><a href="/workout/allWorkouts"><button type="submit" class="homepageButton" id="logButton">LOG</button></a>  
    <div class="weight"> </div>
</div>

<div class=table> 
    <div id="forearm1"></div> <div id="forearm2"></div> 
</div>

<div class="table">
    <div id="upperArm1"></div> <div id="upperArm2"></div>
</div>

<div id="iconHead"></div> 

<div class="table"> 
    <div id="sideBody1"></div> <div id="sideBody2"></div>
</div>