<h1 class="title">LET'S GO</h1> 

<div class="weight"> </div><a href="/workout/addWorkout"><button type="submit" class="homepageButton"> ADD ENTRY</button></a> 
<div class="weight"> </div>

<div class="weight"> </div><a href="/workout/allWorkouts"><button type="submit" class="homepageButton">LOG</button></a>  
<div class="weight"> </div>
